//edit-name
.edit-name-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.edit-name-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 300ms linear;
}
.edit-name-exit {
  transform: translateY(0px);
  opacity: 1;
}
.edit-name-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: 300ms linear;
}

.sidebar-enter {
  opacity: 0;
}
.sidebar-enter-active {
  opacity: 1;
  overflow: hidden;
  transition: 300ms linear;
}
.sidebar-exit {
  opacity: 1;
  overflow: hidden;
}
.sidebar-exit-active {
  opacity: 0;
  max-height: 0;
  transition: 300ms linear;
}
