//colors
$color1: #f9a109;
$color2: #ffffff;
$color3: #fafafe;
$color4: #fff0de;
$color5: #eb5757;
$color6: #34333a;
$color7: #454545;
$color8: #000000;
$color9: #c1c1c4;
$color10: #80485b;
$color11: #828282;
$color12: #bdbdbd;
$color13: #56ccf2;
$color14: #f2f2f2;
$color15: #1d8348;
$color16: #e0e0e0;

//border
$border-radius1: 12px;
$border-radius2: 24px;
